<div class="row">
    <form class="form-horizontal">

        <div class="row">
            <div class="col-sm-12 form-group">
                <button type="button" class="btn btn-default btn-block" data-bind="todo download benchmark results">
                    <i class="fa fa-fw fa-terminal"></i>
                    Download benchmark results
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-group">
                <button type="button" class="btn btn-default btn-block" data-bind="todo delete benchmark results from server">
                    <i class="fa fa-fw fa-terminal"></i>
                    Delete benchmark results
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-group">
                <button type="button" class="btn btn-default btn-block" data-bind="todo delete control vm">
                    <i class="fa fa-fw fa-terminal"></i>
                    Delete control VM
                </button>
            </div>
        </div>

    </form>



</div>