{% extends "base_templates/index_base.html" %}

{% block title %}TSDBBench Web UI{% endblock title %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/login.css">
{% endblock head %}


{% block main_page_heading %}

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Dashboard <small>Overview</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i>
                    Dashboard
                </li>
                <li >
                    {{ session['username'].provider }}
                </li>
                <li >
                    {{ session['username'].region }}
                </li>
                <li >
                    {{ session['username'].project }}
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

{% endblock main_page_heading %}

{% block page_content %}

<div class="container">
  <div class="row">
    <center >
      <center>
        <h2>Welcome to TSDBBench Web User Interface</h2>
      </center>
      <div class="account-wall">
        <p>TSDBBench UI provides a single point of communication with Elastic Infrastructure and Virtual Machine instances.</p>
        <p>It's goal is to simplify the process of running TSDB benchmarks by automating VM instance creation, SSH keys generation and control over created VMs.</p>
        <p>It was built to support multiple Cloud providers.</p>
        <img src="/static/images/logoDE-UST.jpg" alt="" width="100">
        <img src="/static/images/ipvs_logo.gif" alt="" width="111">
      </div>
    </div>
  </div>
</div>


{% endblock page_content %}


{% block body_jscripts %}
    {{ super() }}
{% endblock body_jscripts %}