{% extends "index.html" %}

{% block title %}TSDBBench Web UI{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}

{% block main_page_heading %}

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Instances <small>some description</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Dashboard
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

{% endblock main_page_heading %}

{% block page_content %}

    <!-- Instances heading and button row -->
    <div class="row">
        <div class="col-lg-4">
            <h2>Instances List</h2>
        </div>
        <div class="col-lg-8">
            <button type="button" class="btn btn-default pull-right button-margin-top" data-bind="click: function () { toggleCreateInstanceDialog(); }">
                <i class="fa fa-fw fa-plus"></i>
                Create instance
            </button>
        </div>
    </div>
    <!-- /.row -->


    {% include 'partials/instances/instances_table.html' %}

    {% include 'partials/instances/terminate_instance_modal.html' %}
    {% include 'partials/instances/attach_floating_ip_modal.html' %}
    {% include 'partials/instances/create_instance_modal.html' %}
    {% include 'partials/instances/dimmer_processing_modal.html' %}

{% endblock page_content %}

{% block body_jscripts %}
    {{ super() }}
{% endblock %}