{% extends "index.html" %}

{% block title %}TSDBBench Web UI{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}

{% block main_page_heading %}

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Instances control panel
            </h1>
        </div>
    </div>
    <!-- /.row -->

{% endblock main_page_heading %}

{% block page_content %}

    <!-- Instances heading and button row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 button-margin text-right">
                    <div class="btn-group" role="group" aria-label="...">

                        <button type="button" class="btn btn-default" data-bind="click: function () { toggleCreateInstanceDialog(); }">
                            <i class="fa fa-fw fa-plus"></i>
                            Create instance
                        </button>

                        <button type="button" class="btn btn-default" data-bind="click: function () { allocateFloatingIp(); }">
                            <i class="fa fa-fw fa-plus-square-o"></i>
                            Generate floating IP
                        </button>

                        <button type="button" class="btn btn-default" data-bind="click: function () { releaseFloatingIPs(); }">
                            <i class="fa fa-fw fa-eraser"></i>
                            Release floating IPs
                        </button>

                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- /.row -->


    {% include 'partials/instances/instances_table.html' %}

    {% include 'partials/instances/terminate_instance_modal.html' %}
    {% include 'partials/instances/attach_floating_ip_modal.html' %}
    {% include 'partials/instances/create_instance_modal.html' %}
    {% include 'partials/instances/dimmer_processing_modal.html' %}

{% endblock page_content %}

{% block body_jscripts %}
    {{ super() }}
    <script src="static/js/main.js"></script>
{% endblock %}