{% extends "base_templates/base.html" %}

{% block title %}TSDBBench Web UI{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-6 col-md-offset-4">
                <h1 class="text-center login-title">Sign in to TSDBBench Web UI</h1>
                <div class="account-wall">
                    <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                alt="">




                    <form class="form-signin" action="{{ url_for('main.index')}}" method="post">
                        <select class="form-control provider" data-bind="options: providersConfigs, optionsText: 'provider', value: selectedProvider, optionsCaption: 'Choose provider'">
                        </select>

                        <input name="user" type="text" class="form-control" placeholder="User" required="true" autofocus>
                        <input name="pwd" type="password" class="form-control" placeholder="Password" required="true">

                        <!-- ko if: selectedProvider -->
                            <input name="provider" hidden="true" data-bind="value: selectedProvider().provider">
                            <!-- ko foreach: selectedProviderFields -->
                                <input class="form-control" required="true" data-bind="value: value, attr: {placeholder: nameCap, name: name}"/>

                            <!-- /ko -->

                        <!-- /ko -->

                        <button class="btn btn-lg btn-primary btn-block" type="submit" data-bind="enable: selectedProvider">Sign in</button>
                    </form>


                </div>

                {% if exception %}
                <div class="alert alert-danger" role="alert">
                {{ exceptionType }} : {{ exception }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block body_jscripts %}
    {{ super() }}
    <script src="static/js/lib/knockout-3.4.1.js"></script>
    <script src="static/js/login.js"></script>
{% endblock %}