{% extends "index.html" %}

{% block title %}TSDBBench Web UI{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/benchmarking.css"/>
{% endblock head %}


{% block main_page_heading %}

    <!-- Page Heading
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Run Benchmark
            </h1>
        </div>
    </div> -->
    <!-- /.row -->

{% endblock main_page_heading %}

{% block page_content %}

    {% include 'partials/benchmarking/step_wizard.html' %}

{% endblock page_content %}

{% block body_jscripts %}
    {{ super() }}
    <script src="static/js/benchmarking.js"></script>
{% endblock %}
